* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  width: 100vw;
  height: 100vh;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#background {
  background-image: url("/background-pics/yamanashi_fuji-q-highland.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
}

.content {
  padding: 1rem;
  background-color: cyan;
  width: 70%;
  border-radius: 15px;
}
.text-content p,
h1 {
  text-align: center;
}
.text-content {
  display: flex;
  margin: 1rem;
  gap: 0.5rem;
  flex-direction: column;
}
.btn-options {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  display: inline;
  appearance: none;
  border: 2px solid #1a1a1a;
  border-radius: 15px;
  color: #3b3b3b;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  will-change: transform;
}

.btn:hover {
  color: #fff;
  background-color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.btn:active {
  box-shadow: none;
  transform: translateY(0);
}
.input-field {
  font-size: 1rem;
  padding: 0.3rem;
  width: 50%;
  margin: 0 auto;
  border: 2px solid black;
}
.input-btn {
  width: 50%;
  padding: 0.3rem;
  font-size: 1rem;
  color: white;
  margin: 0 auto;
  background-color: darkolivegreen;
  border: 2px solid black;
}
.input-btn:hover {
  background-color: white;
  color: #1a1a1a;
}
.potrait-container {
  position: absolute;
  background-position: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-size: cover;
  width: 9rem;
  height: 9rem;
  background-color: aqua;
  top: 30px;
  right: 50px;
}
.dots {
  background: black;
  width: 6px;
  height: 6px;
  position: absolute;
  border-radius: 5px;
}
.subtitles {
  background-color: aquamarine;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  text-align: center;
  width: 9rem;
  position: absolute;
  top: 170px;
  right: 50px;
}
