* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  width: 100vw;
  height: 100vh;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#background {
  background-image: url("/background-pics/yamanashi_fuji-q-highland.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
}

.content {
  padding: 1rem;
  background-color: #9bbec8;
  border: solid 1px black;
  width: 70%;
  border-radius: 15px;
}

h1 {
  text-align: center;
  font-family: Poppins;
}
p {
  font-weight: bolder;
  text-align: center;
  font-family: Poppins;
}
.text-content {
  display: flex;
  margin: 1rem;
  gap: 0.5rem;
  flex-direction: column;
}
.btn-options {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  display: inline;
  appearance: none;
  border: 2px solid #1a1a1a;
  border-radius: 15px;
  color: #3b3b3b;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  will-change: transform;
}

.btn:hover {
  color: #fff;
  background-color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.btn:active {
  box-shadow: none;
  transform: translateY(0);
}
.input-field {
  font-size: 1rem;
  padding: 0.3rem;
  width: 50%;
  margin: 0 auto;
  border: 2px solid black;
}
.input-btn {
  width: 50%;
  padding: 0.3rem;
  font-size: 1rem;
  color: white;
  margin: 0 auto;
  background-color: #427d9d;
  border: 2px solid black;
  transition: 400ms;
  cursor: pointer;
}
.input-btn:hover {
  background-color: white;
  color: #1a1a1a;
}
.potrait-container {
  position: absolute;
  background-position: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-size: cover;
  width: 9rem;
  height: 9rem;
  background-color: aqua;
  top: 30px;
  right: 50px;
}
.dots {
  background: black;
  width: 6px;
  height: 6px;
  position: absolute;
  border-radius: 5px;
}
.subtitles {
  background-color: aquamarine;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  text-align: center;
  width: 9rem;
  position: absolute;
  top: 170px;
  right: 50px;
}
.collectible-container {
  position: absolute;
  background-color: #ddf2fd;
  border: solid 2px black;
  border-radius: 10px;
  top: 64%;
  left: 50%;
  transform: translate(-50%);
}
.collectible-container img {
  display: inline-block;
  width: 5rem;
  height: 5rem;
}
/*Styles for the quiz*/
#next-btn {
  background-color: darkorchid;
  color: #333;
  font-weight: 500;
  width: 150px;
  border: 0;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 4px;
  cursor: pointer;
  display: none;
}
.btn-quiz {
  background-color: white;
  color: #222;
  font-weight: 500;
  width: 100%;
  border: 1px solid #222;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}
.btn-quiz:hover:not([disabled]) {
  box-shadow: 5px 5px 8px blue, 10px 10px 8px red, 15px 15px 8px green;
}
.btn-quiz:disabled {
  cursor: no-drop;
}
